<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <th:block th:each="msg : ${car}">
        <h2 th:text="${msg}"></h2>
    </th:block>
</div>
</body>
</html>

<!--<form th:method="POST" th:action="@{/admin/add}">-->
<!--    <label for="car">Введите данные</label>-->

<!--    <select th:object="car" th:field="*{model}" id="car">-->
<!--        <option th:each="car : ${car}" th:value="${ca}">-->
<!--        </option>-->
<!--    </select>-->

<!--</form>-->

<!--</body>-->


<!--</html>-->


